node_modules/
coverage/
.metro-health-check*

build/
.gradle/
.cxx/
.kotlin/
local.properties
*.hprof

*.aar
*-sources.jar
*.apk
*.aab
*.exe

*.jks
*.keystore
!debug.keystore

.idea/
.vscode/
*.iml

*.log
*.pcap
*.pcapng
*.ps1
