# Android
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node
node_modules/
npm-debug.log

# React Native / Metro
*.jsbundle
.metro-health-check*

# testing
/coverage